@import "../../../assets/styles/variables";

.footer {
  background-color: #24292e;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  p {
    line-height: 10px;
    @include text-mixin(#fff, 10px, $font-gotham-pro-regular);
  }
}
